# Banco de Dados
DB_NAME=stickerswap
DB_USER=stickerswap
DB_PASSWORD=stickerswap_senha_segura

# E-mail (SMTP)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=seu_usuario
MAIL_PASSWORD=sua_senha
APP_MAIL_FROM=noreply@stickerswap.com

# Admin Padrão
ADMIN_EMAIL=admin@stickerswap.com
ADMIN_PASSWORD=admin_senha_segura

# Segurança / OAuth2
APP_SECURITY_ISSUER=http://localhost:8080
APP_PUBLIC_BASE_URL=http://localhost:8080
APP_PASSWORD_RESET_URL=http://localhost:4200/reset-password
APP_SECURITY_FRONTEND_LOGIN_URL=http://localhost:4200/login
APP_SECURITY_CORS_ALLOWED_ORIGINS=http://localhost:4200
OAUTH_WEB_REDIRECT_URIS=http://localhost:4200/login/oauth2/code/web-client
OAUTH_WEB_POST_LOGOUT_REDIRECT_URIS=http://localhost:4200/

# JWK Set (Necessário gerar uma chave RSA JSON para JWT)
APP_SECURITY_JWK_SET_JSON={"keys":[{"kty":"RSA","e":"AQAB","use":"sig","kid":"...","n":"..."}]}
